:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --light-color: #f5f4fa;
}
p,
h1,
h2,
h3 {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
.list {
  list-style: none;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}
body {
  background-color: var(--white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.02em;
}
/*----------------Страница STUDIO--------------*/
/* ---------------------HEADER ---------------------*/
.header {
  background-color: var(--white-color);
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ececec;
}
.navigation {
  display: flex;
  align-items: center;
}
.navigation-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site-nave {
  display: flex;
}
.header .item:not(:last-child) {
  margin-right: 50px;
}
.contact-header {
  display: flex;
}
.item-contact:not(:last-child) {
  margin-right: 50px;
}
.logo {
  color: #000000;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo-header {
  margin-right: 93px;
}
.logo-webstudio {
  color: var(--accent-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.logo-webstudiotwo {
  color: var(--white-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.logo :hover {
  color: #000000;
}
.site-nave .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
}
.site-nave .link:hover,
.site-nave .link:focus {
  color: var(--accent-color);
}
.site-nave .link.current {
  color: var(--accent-color);
}
/*-----------------contact-header--------*/
.contact-header .contact {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
}
.contact-header .contact:hover,
.contact-header .contact:focus {
  color: var(--accent-color);
}
/*------------hero--------------*/

.hero {
  background-color: #2f303a;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-title {
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
}
/*-------------button-----------*/
.button-primary {
  color: var(--white-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
  border-color: var(--accent-color);
  border: 0px;
  margin: 0 auto;
  display: block;
  width: 200px;
  height: 50px;
}

/*------ДЛЯ ВСЕХ СЕКЦИЙ--------*/
.section {
  padding-top: 94px;
  padding-bottom: 94px;
} 

/*--------------section company-----------*/
.company {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.item-company {
  width: 270px;
  margin: 0 auto;
}
.item-company:not(:last-child) {
  margin-right: 30px;
}
.company .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.company .text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  margin-top: 10px;
}
/* ----------section service-------- */
.activity-nave {
  display: flex;
  flex-wrap: wrap;
}
.item-service {
  width: 370px;
}
.item-service:not(:last-child) {
  margin-right: 30px;
}
.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.section-nave{
    padding-top: 0px;
}
.todo {
    margin-bottom: 50px;
}
/*----------command------------*/
.font-section {
  background-color: var(--light-color);
  padding-top: 94px;
  padding-bottom: 94px;
}
.command {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: var(--white-color);
}
.command-image {
    display: block;
}
.title-name {
  margin-bottom: 10px;
}
.our-team {
    margin-bottom: 50px;
}
.command-nave {
  display: flex;
  flex-wrap: wrap;
}
.command-people {
  margin-right: 30px;
}
.command-people:nth-child(4n) {
  margin-right: 0px;
}
.command-nave .title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}
.command-nave .position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
/*-----------footer------------*/
.footer-bgr {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-link {
  flex-direction: column;
}
.location-nave {
  margin-top: 20px;
}
.location:not(:last-child) {
  margin-bottom: 9px;
}
.contact-footer .nave {
  color: var(--white-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7px;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.contact-footer .contact {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7px;
  letter-spacing: 0.03em;
  text-decoration: none;
}
/* --------------------СТРАНИЦА PORTFOLIO------------------*/
/*-------Фильтр----------*/
.shade-button {
  display: flex;
  justify-content: center;
  margin-top: 94px;
  margin-bottom: 50px;
}
.button-settings:not(:last-child) {
  margin-right: 8px;
}
.nav-button {
  background-color: #f5f4fa;
  color: #212121;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  cursor: pointer;
  border-radius: 4px;
  border: 0px;
  padding: 6px 22px;
}
.nav-button:focus,
.nav-button:hover {
  background: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/*-----------Наши работы и проекты----------*/

.nav-jobs {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 94px;
}
.box-job {
  display: block;
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
}
.box-job:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}
.box-job:nth-last-child(3n + 1) {
  margin-right: 0px;
}
.our-work {
    padding: 20px 24px;
}
.jobs-name {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.job {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
